h1 {
    color: #171599;
    padding-top: 7px;
    padding-bottom: 0;
    padding-left: 2%;
}
h1:hover {
    background-color: #BEE2FA;
}
a {
  color: green;
  font-weight: 900;
  text-decoration: none;
  padding-left: .5%;
  padding-right: .5%;
}
a:hover {
  color: #fff;
  background-color: green;
}
div, h1 {
    background-color: #BEE2FA;
    padding-left: 3%;
    padding-right: 2%;
}
/*div:hover, p:hover {
    background-color: #BEE2FA;
}*/
